@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer font-semibold text-sm text-white hover:underline;
  }

  .server-default {
    @apply h-12 bg-[#36393f] rounded-full flex justify-center items-center cursor-pointer hover:rounded-2xl transition-all duration-100 ease-out;
  }

  .icon {
    @apply h-6 text-[#b9bbbe] cursor-pointer hover:text-[#dcddde];
  }
}
